<div class="py-3">
    <div class="grid p-fluid">
        <div class="col-12">
            <div class="field">
                <h5 for="textarea">Enter your text here which needs to be analysed</h5>
                <textarea class="form-control" [(ngModel)]="text" (ngModelChange)="analyzeText()" rows="12"></textarea>
            </div>
        </div>
    </div>
    <div class="row py-1" *ngIf="text">
        <div class="col-lg-3">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">Property</th>
                        <th scope="col">Count</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Characters</td>
                    <td>{{characters.length}}</td>
                </tr>
                <tr>
                    <td>Words</td>
                    <td>{{words.length}}</td>
                </tr>
                <tr>
                    <td>Lines</td>
                    <td>{{lines.length}}</td>
                </tr>
                <tr>
                    <td>Sentences</td>
                    <td>{{sentences.length}}</td>
                </tr>
                <tr>
                    <td>Paragraph</td>
                    <td>{{paragraphs.length}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-5">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">Property</th>
                        <th scope="col">Avg</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Characters per word</td>
                    <td>{{ ((characters.length - whiteSpaces.length) / words.length) | number:'1.0-2' }}</td>
                </tr>
                <tr>
                    <td>Characters per sentence</td>
                    <td>{{ ((characters.length - whiteSpaces.length) / sentences.length) | number:'1.0-2' }}</td>
                </tr>
                <tr>
                    <td>Characters per paragraph</td>
                    <td>{{ ((characters.length - whiteSpaces.length) / paragraphs.length) | number:'1.0-2' }}</td>
                </tr>
                <tr>
                    <td>Words per sentence</td>
                    <td>{{ (words.length / sentences.length) | number:'1.0-2' }}</td>
                </tr>
                <tr>
                    <td>Words per paragraph</td>
                    <td>{{ (words.length / paragraphs.length) | number:'1.0-2' }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-4">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">Property</th>
                        <th scope="col">Count</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Alphabet Characters</td>
                    <td>{{ alphabetCharacters.length }}</td>
                </tr>
                <tr>
                    <td>Number Characters</td>
                    <td>{{ numberCharacters.length }}</td>
                </tr>
                <tr>
                    <td>White Spaces</td>
                    <td>{{ whiteSpaces.length }}</td>
                </tr>
                <tr>
                    <td>Special Characters</td>
                    <td>{{ specialCharacters.length }}</td>
                </tr>
                <tr>
                    <td>Stop Words</td>
                    <td>{{ stopWords.length }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="grid p-fluid" *ngIf="text">
        <div class="col-12">
            <p><strong>TO DO</strong></p>
            <ul>
                <li>No of Sentences</li>
                <li>Average No of Words in a Sentence</li>
                <li>Client Side Sentiment Analysis results like Sentiment of Paragraph 1: positive</li>
                <li>Character Frequency with count of occurrecne and percentage</li>
                <li>Word Frequency with count of occurrecne and percentage</li>
            </ul>
        </div>
    </div>
</div>