<div class="card">
    <div class="grid p-fluid">
        <div class="col-12">
            <div class="field">
                <h5 for="textarea">Enter your text here which needs to be analysed</h5>
                <textarea inputId="textarea" [(ngModel)]="text" (ngModelChange)="analyzeText()" rows="25"
                 cols="30" pInputTextarea class="p-inputtextarea p-inputtext p-component p-element"></textarea>
            </div>
        </div>
    </div>
    <div class="grid p-fluid" *ngIf="text">
        <div class="col-6">
            <p><strong>Total Characters:</strong> {{ charsCount }}</p>
            <p><strong>Total Words:</strong> {{ wordsCount }}</p>
            <p><strong>Total Lines:</strong> {{ linesCount }}</p>
            <p><strong>Total Paragraphs:</strong> {{ paragraphCount }}</p>
            <p><strong>Total Whitespace Characters:</strong> {{ whiteSpaceCharsCount }}</p>
        </div>
        <div class="col-6">
            <p><strong>Average Characters Per Word:</strong> {{ averageCharsPerWord | number:'1.2-2' }}</p>
            <p><strong>Average Characters Per Line:</strong> {{ linesCount | number:'1.2-2' }}</p>
            <p><strong>Average Characters Per Paragraph:</strong> {{ linesCount | number:'1.2-2' }}</p>
            <p><strong>Average Words Per Line:</strong> {{ wordsCount | number:'1.2-2' }}</p>
            <p><strong>Average Words Per Paragraph:</strong> {{ wordsCount | number:'1.2-2' }}</p>
        </div>
    </div>
    <div class="grid p-fluid" *ngIf="text">
        <div class="col-12">
            <p><strong>TO DO</strong></p>
            <ul>
                <li>No of Sentences</li>
                <li>Average No of Words in a Sentence</li>
                <li>Client Side Sentiment Analysis results like Sentiment of Paragraph 1: positive</li>
                <li>Character Frequency with count of occurrecne and percentage</li>
                <li>Word Frequency with count of occurrecne and percentage</li>
            </ul>
        </div>
    </div>
</div>